<div class="disclaimer">
    <span>
        <i class="fa fa-exclamation-triangle "></i>
        Click here to read the language disclaimer
    </span>
    <div class="disclaimer-message">
        <p>I am not an English native speaker, so this publications may contain spelling and grammar mistakes as well nonsense words and phrases.</p>
        <p>If you think this text can be improved let me know it by sending an email or a message to one of my social networks.</p>
    </div>
</div>
<script type="text/javascript">
    var disclaimer = document.querySelector('.disclaimer');
    var disclaimerMessage = document.querySelector('.disclaimer-message');

    disclaimer.addEventListener('click', function() {
        disclaimerMessage.style.display = disclaimerMessage.style.display !== 'block' ? 'block' : 'none';
    });
</script>
